body {
  background-color: white;
}
h2,
h1,
h3 {
    text-align: center;
}
input {
    width: 50%;
}
table {
    border-collapse: collapse;
    border: 1px white solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
th {
    background: #ccc;
    text-align: right;
    border: 1px white solid;
}
table {
    margin: 10px;
}
#mobileAdBanner {
    display: none;
}
#smallTitle {
    display: none;
}
#desktopAdBanner {
    display: block;
    text-align: center;
    
}
@media screen 
and (max-width : 500px) {
    #mobileAdBanner,
    #smallTitle {
        display: block;
        text-align: center;
    }
    #desktopAdBanner,
    #bigTitle {
        display: none;
    }
}
td {
    border: 1px white solid;
}
.negative {
    color: red;
}
#chartContainer {
    text-align: center;
    height: 550px;
    padding: 7px;
    background-color: #cccccc;
}
#header {
  height: 75px;
  margin-bottom: 5px;
}
#authorInfo {
    text-align: center;
    padding: 10px;
    
}
#axisChange {
    width: 50px;
}